{% extends 'shared/shared/site.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block site_title %}
    Welcome to Petstagram
{% endblock %}
{% block site_content %}
    <section class="banner">
        <header>
            <h1>Welcome to Petstagram</h1>
            <h2>Share your pets photos.</h2>
        </header>
        <div class="row">
            <div class="col">
                Already have an account?
                <button class="button">Sign in</button>
                <a href="#" class="button">Sign in</a>
            </div>
            <div class="col">
                Do not have an account?
                <a href="#" class="button">Sign up</a>
            </div>
        </div>
    </section>
{% endblock %}