{% load static %}

<nav class="navbar">
    <div class="container">
        <div class="logo">
            <!-- Link to Home Page -->
            <a href="{% url 'index' %}">
                <img width="50px"
                     src="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}"
                     alt="img1">
            </a>
            <a class="home" href="{% url 'index' %}">
                <i>Petstagram</i>
            </a>
        </div>

        <div class="nav-links">
            <ul class="nav-group">
                <li class="nav-item">
                    <a href="{% url 'add pet' %}">
                        <i>Add Pet</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'add photo' %}">
                        <i>Add Photo</i>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'details user' pk=request.user.pk %}">
                            <i>Profile</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout user' %}">
                            <i>Sign out</i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register user' %}">
                            <i>Sign up</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login user' %}">
                            <i>Sign in</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>