{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <form method="post" action="{% url 'edit user' pk=object.pk %}">
            {% for field in form %}
                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                    <label>{{ field.label }}</label>

                    {% if not field.label == "Gender:" %}
                        {{ field }}

                    {% else %}
                        <div class="list-choice">
                            <div class="list-choice-title">Gender</div>
                            <div class="list-choice-objects">
                                {% for type, value in form.fields.gender.choices %}
                                    <label>
                                        <input type="radio" value="{{ value }}" name="gender"
                                                {% if form.gender.value == value %}
                                               checked
                                                {% endif %}/>
                                        <span>{{ value }}</span>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
                <br>
            {% endfor %}

            <button class="edit-btn" type="submit">Edit</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}