{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{% static 'images/person.png' %}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    {% if is_owner %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ photos_count }}</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>{{ pets_count }}</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>{{ likes_count }}</span>
                    <p>likes</p>
                </div>
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% endif %}

                <!-- User Email Address -->
                <p class="email">{{ object.email }}</p>

                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}
            </div>
        </div>

        <div class="pets">
            <div class="statuses">
                {% for pet in pets %}
                    <a href="{% url 'details pet' pet_slug=pet.slug username=object.username %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <img src="{{ pet.personal_photo }}"
                                         alt="image of {{ pet.name }}">
                                </div>
                            </div>
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="pet-photos">
            {% for pet_photo in photos %}
                <a href="{% url 'details photo' pk=pet_photo.pk %}">
                    <!-- Pet Photo -->
                    <img src="{{ pet_photo.photo.url }}"
                         alt="pet img">
                </a>
            {% endfor %}
            <div class="pagination">
            <span class="step-links">
                {% if photos.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ photos.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
                </span>

                {% if photos.has_next %}
                    <a href="?page={{ photos.next_page_number }}">next</a>
                    <a href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            </div>
        </div>
    </div>
    <!-- End Profile Details Section -->
{% endblock %}