{% extends 'base/base.html' %}

{% load placeholders %}

{% block page_content %}
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form method="post" action="{% url 'register user' %}">
                {{ form.username|placeholder:'Username: ' }}
                {{ form.email|placeholder:'Email: ' }}
                {{ form.password1|placeholder:'Password: ' }}
                {{ form.password2|placeholder:'Repeat password: ' }}
                <button type="submit">Register</button>
                {% csrf_token %}
            </form>

        </div>
        <div class="second-option">

            <p>Have an account? <a href="{% url 'login user' %}">Log in</a></p>
        </div>
    </div>
    {#    <div class="login-register-div">#}
    {#        <div class="login-register-box">#}
    {#            <h1>Petstagram</h1>#}
    {##}
    {#            <!-- Start Register Form -->#}
    {#            <form action="">#}
    {#                <input type="text" placeholder="Username">#}
    {##}
    {#                <input type="email" placeholder="Email">#}
    {##}
    {#                <input type="password" placeholder="Password">#}
    {##}
    {#                <input type="password" placeholder="Repeat Password">#}
    {##}
    {#                <!-- Register Button -->#}
    {#                <button type="submit">Register</button>#}
    {#            </form>#}
    {#            <!-- End Register Form -->#}
    {##}
    {#        </div>#}
    {#        <div class="second-option">#}
    {##}
    {#            <!-- Link to Login Page -->#}
    {#            <p>Have an account? <a href="#">Log in</a></p>#}
    {#        </div>#}
    {#    </div>#}
    <!-- End Register Section -->

{% endblock %}