{% extends 'base.html' %}
{% load filters %}

{% load static %}

{% block main_content %}
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form action="{% url 'signin user' %}?next={{ next }}" method="post">
                <p>
                    {{ form.username|placeholder:"Email" }}
                </p>
                <p>
                    {{ form.password|placeholder:"Password" }}
                </p>
                <button type="submit">Log in</button>

                {% csrf_token %}
            </form>

        </div>
        <div class="second-option">
            <p>Don't have an account? <a href="{% url 'signup user' %}">Register</a></p>
        </div>
    </div>
{% endblock %}