{% extends 'base.html' %}

{% load static %}

{% load filters %}

{% block main_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form action="{% url 'signup user' %}" method="post">
                <p>
                    {{ form.email|placeholder:"Email" }}
                </p>
                <p>
                    {{ form.password1|placeholder:"Password" }}
                </p>

                <p>
                    {{ form.password2|placeholder:"Confirm password" }}
                </p>

                <button type="submit">Register</button>
                {% csrf_token %}
            </form>

        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'signin user' %}">Log in</a></p>
        </div>
    </div>

{% endblock %}