{% extends 'shared/site.html' %}
{% block site_content %}
    <div class="container-fluid" style="background-image: none">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form style="border: 1px solid grey; margin: 10% 0%; padding: 10% 5%" method="post">
                    <h2>Sign up</h2>
                    {{ form }}
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Sign up</button>
                    <span>Have an account?<a href="" style="color:orange">Sign in here</a></span>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}
