<header>
    <nav class="site-nav">
        <ul class="list-horizontal">
            <li class="list-item">
                <a href="{% url 'index' %}">
                    Home
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'list pets' %}">
                    Pets
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    Sign in
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    Sign up
                </a>
            </li>
        </ul>
    </nav>
</header>