{% extends 'shared/site.html' %}
{% block site_content %}
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <img src="{{ pet.image.url }}" class="w-50 rounded mx-auto d-block">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex justify-content-between">
                <h5><u>Type:</u> {{ pet.type }}</h5>
                <h5><u>Name:</u> {{ pet.name }}</h5>
                <h5><u>Age:</u> {{ pet.age }}</h5>
                <h5><u>Owner:</u> <a href="{% url 'user profile' pet.user.user_id %}"> {{ pet.user.user.username }}</a>
                </h5>
            </div>
            <p class="mt-2">Description: {{ pet.description }}</p>
            <div>
                {#                {% if can_edit %}#}
                <a href="{% url 'edit pet' pet.pk %}" class="btn btn-success">Edit</a>
                {#                {% endif %}#}
                {% if can_delete %}
                    <a href="{% url 'delete pet' pet.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
            {% if can_like %}
                {% if has_liked %}
                    <a href="{% url 'like pet' pet.id %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{% url 'like pet' pet.id %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                {% endif %}
            {% endif %}
            <p class="mt-2">Likes: {{ pet.like_set.count }}</p>
        </div>
    </div>
    <div class="d-block" style="background-color: #f1e3e3; padding:2%">
        {% if pet.comment_set.exists %}
            {% for comment in pet.comment_set.all %}
                <div class="box">
                    <a href="{% url 'user profile' comment.user_id %}">{{ pet.user.user.username }}</a>
                    <h5><em>{{ comment.text }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this pet. </h3>
            </div>
        {% endif %}
        {% if can_comment %}
            <div class="box">
                <form method="post" action="{% url 'pet details or comment' pet.pk %}">
                    {{ form }}
                    {% csrf_token %}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
