{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
    <title>Petstagram</title>
</head>
<!-- End Head Section -->

<!-- Starts Body Section -->
<body>

<!-- Starts Header Section with Navigation Bar -->
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="#">
                    <img width="50px" src="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}" alt="img1">
                </a>

                <!-- Link to Home Page -->
                <a class="home" href="#">
                    <i>Petstagram</i>
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">

                        <!-- Link to Add Pet Page -->
                        <a href="#">
                            <i>Add Pet</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <!-- Link to Add Photo Page -->
                        <a href="#">
                            <i>Add Photo</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <!-- Link to Profile Page -->
                        <a href="#">
                            <i>Profile</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- Log out -->
                        <a href="#">
                            <i>Log out</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header Section with Navigation Bar -->

<!-- Starts Main Section -->
<main>

    <div class="pet-profile">
        <!-- Start Pet Personal Data Section -->
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <!-- Pet URL Image -->
                        <img src="https://encrypted-tbn0.gstatic.com/static/images?q=tbn:ANd9GcTgoIHq82qLYnvomfz5ZkW5CLQ8VNxCyI-hUw&usqp=CAU"
                             alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <!-- Pet Name -->
                        <p>Sasho</p>
                        <!-- Pet Edit Button -->
                        <a href="">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <!-- Pet Delete Button -->
                        <a href="">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    </div>
                    <div class="data">
                        <!-- Pet Total Photos -->
                        <span>4</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pet Personal Data Section -->

        <div class="pet-posts">

            <!-- IF Photos Start Pet Photos Post Section -->

            <!-- Start First Pet Photo Post -->
            <div class="card">
                <div class="top">
                    <!-- User Details and image location -->
                    <div class="userDetails">
                        <a href="profile details">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <a href="profile details">
                                <!-- if user has first name and last name -->
                                Diyan Kalaydzhiev
                                <!-- else -->
                                <!-- user username -->
                            </a>
                            <br>
                            <!-- if the photo has location -->
                            <span>Bansko, Bulgaria</span>
                        </h3>
                    </div>
                    <!--  -->
                </div>
                <!-- Post image -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="{% static 'images/axolotl.jpeg' %}" alt="post" class="cover">
                </div>
                <!-- -->

                <div class="bottom">
                    <!-- like and share buttons -->
                    <div class="actionBtns">
                        <div class="left">
								<span class="heart">
                                    <a href="#">
                                        <!-- if user has liked the photo -->
                                        <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                        <!-- else -->
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
								</span>
                            <a href="share">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <!-- -->

                    <a href="#">
                        <p class="likes">203 likes</p>
                    </a>

                    <!-- tagged pets -->
                    <a href="pet profile">
                        <p class="message">
                            <b>Sasho</b>
                        </p>
                    </a>
                    <a href="pet profile">
                        <p class="message">
                            <b>Some other fish</b>
                        </p>
                    </a>
                    <!--  -->

                    <a href="post details">
                        <h4 class="details">See details</h4>
                    </a>

                    <h5 class="postTime">19/09/2022</h5>

                    <!-- add comments section -->
                    <div class="addComments">

                        <form method="post" action="add comment">
                            <label for="id_body">Body:</label>
                            <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                      required="" id="id_body"></textarea>
                            <button type="submit">Post</button>
                        </form>
                    </div>
                    <!--  -->
                </div>
            </div>
            <!-- End  First Pet Photo Post -->

            <!-- Start Second Pet Photo Post -->
            <div class="card">
                <div class="top">
                    <!-- User Details and image location -->
                    <div class="userDetails">
                        <a href="profile details">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <a href="profile details">
                                <!-- if user has first name and last name -->
                                Diyan Kalaydzhiev
                                <!-- else -->
                                <!-- user username -->
                            </a>
                            <br>
                            <!-- if the photo has location -->
                            <span>Bansko, Bulgaria</span>
                        </h3>
                    </div>
                    <!--  -->
                </div>
                <!-- Post image -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="https:///static.scientificamerican.com/sciam/cache/file/766BFBD4-F8A1-4B7D-8416A370010B5A88_source.jpg"
                         alt="post" class="cover">
                </div>
                <!-- -->

                <div class="bottom">
                    <!-- like and share buttons -->
                    <div class="actionBtns">
                        <div class="left">
								<span class="heart">
                                    <a href="#">
                                        <!-- if user has liked the photo -->
                                        <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                        <!-- else -->
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
								</span>
                            <a href="share">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <!-- -->

                    <a href="#">
                        <p class="likes">203 likes</p>
                    </a>

                    <!-- tagged pets -->
                    <a href="pet profile">
                        <p class="message">
                            <b>Sasho</b>
                        </p>
                    </a>
                    <a href="pet profile">
                        <p class="message">
                            <b>Some other fish</b>
                        </p>
                    </a>
                    <!--  -->

                    <a href="post details">
                        <h4 class="details">See details</h4>
                    </a>

                    <h5 class="postTime">19/09/2022</h5>

                    <!-- add comments section -->
                    <div class="addComments">

                        <form method="post" action="add comment">
                            <label for="id_body">Body:</label>
                            <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                      required="" id="id_body"></textarea>
                            <button type="submit">Post</button>
                        </form>
                    </div>
                    <!--  -->
                </div>
            </div>
            <!-- End Second Pet Photo Post -->

            <!-- IF Photos End Pet Photos Post Section -->

            <!-- IF NOT Photos Show No Post Image -->
            <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">

        </div>
    </div>
</main>
<!-- End Main Section -->

<!-- Start Footer Section -->
<div class="footer">
		<span class="footer-section">
			© 2024 SOFTUNI WORKSHOP FOR PYTHON WEB MODULE
		</span>
</div>
<!-- End Footer Section -->

</body>
</html>