{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="edit-delete edit-photo">
        <h2>Edit Pet</h2>
        <form action="{% url 'edit pet' username=username pet_slug=pet.slug %}" method="post">
            {{ pet_form.as_p }}

            <button class="edit-btn" type="submit">Edit</button>

            {% csrf_token %}
        </form>
        <h3>Current image: </h3>
        <img height="50" src="{{ pet.pet_photo }}" alt="Image of {{ pet.name }}">
    </div>
{% endblock %}