{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get" action="{% url 'index' %}">
                {{ search_form }}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
                {% csrf_token %}
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
            {% for photo in photos %}
                {% include 'partials/photo-item.html' with photo=photo %}
            {% endfor %}
        </div>
    </div>
{% endblock %}