{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
    <title>Petstagram</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'index' %}">
                    <img width="50px" src="{% static '/images/free-30-instagram-stories-icons23_122570.png' %}"
                         alt="img1">
                </a>

                <a class="home" href="{% url 'index' %}">
                    <i>Petstagram</i>
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">

                        <a href="{% url 'create pet' %}">
                            <i>Add Pet</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <!-- Link to Add Photo Page -->
                        <a href="{% url 'create photo' %}">
                            <i>Add Photo</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a href="{% url 'signin user' %}">
                            <i>Login</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a href="{% url 'signup user' %}">
                            <i>Register</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'details profile' pk=2 %}">
                            <i>Profile</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signout user' %}">
                            <i>Log out</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="post">
                <input type="text" placeholder="Search by pet name...">
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
            <!-- Start First Pet Photo Post -->
            <div class="card">

                <!-- Start User Details and Image Location -->
                <div class="top">
                    <div class="userDetails">
                        <!-- Link to User Profile Page -->
                        <a href="#">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <!-- Link to User Profile Page -->
                            <a href="#">
                                <!-- if user has first name and last name -->
                                Diyan Kalaydzhiev
                                <!-- else -->
                                <!-- show user username -->
                            </a>
                            <br>
                            <!-- if the photo has location -->
                            <span>Bansko, Bulgaria</span>
                        </h3>
                    </div>
                </div>
                <!-- End User Details and Image Location -->

                <!-- Start Pet Photo -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="{% static 'images/axolotl.jpeg' %}" alt="post" class="cover">
                </div>
                <!-- End Pet Photo -->

                <!-- Start Like and Share Buttons -->
                <div class="bottom">
                    <div class="actionBtns">
                        <div class="left">
                            <!-- Start Like Button -->
                            <span class="heart">
                                <a href="#">
                                    <!-- if user has liked the photo -->
                                    <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                    <!-- else -->
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </span>
                            <!-- End Like Button -->

                            <!-- Start Share Button -->
                            <a href="#">
                                <i class="fa-solid fa-share"></i>
                            </a>
                            <!-- End Share Button -->

                        </div>
                    </div>
                    <!-- End Like and Share Buttons -->

                    <!-- Number of Likes per Photo -->
                    <p class="likes">203 likes</p>


                    <!-- Start Tagged Pets -->
                    <!-- Link to First Tagged Pet Details Page-->
                    <a href="#">
                        <p class="message">
                            <b>Sasho</b>
                        </p>
                    </a>

                    <!-- Link to Second Tagged Pet Details Page-->
                    <a href="#">
                        <p class="message">
                            <b>Some other fish</b>
                        </p>
                    </a>
                    <!-- End Tagged Pets -->

                    <!-- Link to Photo Details Page -->
                    <a href="#">
                        <h4 class="details">See details</h4>
                    </a>

                    <!-- Date of Publication -->
                    <h5 class="postTime">19/09/2022</h5>

                    <!-- Start Add Comments Section -->
                    <div class="addComments">

                        <!-- Start Add Comments Form -->
                        <form method="post" action="#">
                            <label for="id_body">Body:</label>
                            <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                      required="" id="id_body"></textarea>
                            <button type="submit">Post</button>
                        </form>
                        <!-- End Add Comments Form -->

                    </div>
                    <!-- End Add Comments Section -->

                </div>
            </div>
            <!-- End First Pet Photo Post -->

            <!-- Start Second Pet Photo Post -->
            <div class="card">
                <div class="top">
                    <!-- User Details and image location -->
                    <div class="userDetails">
                        <a href="profile details">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <a href="profile details">
                                <!-- if user has first name and last name -->
                                Antonia Hristova
                                <!-- else -->
                                <!-- user username -->
                            </a>
                            <br>
                            <!-- if the photo has location -->
                            <span>Sofia, Bulgaria</span>
                        </h3>
                    </div>
                    <!--  -->
                </div>
                <!-- Post image -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="{% static 'images/dog-on-bed.jpg' %}" alt="post" class="cover">
                </div>
                <!-- -->

                <div class="bottom">
                    <!-- like and share buttons -->
                    <div class="actionBtns">
                        <div class="left">
								<span class="heart">
                                    <a href="#">
                                        <!-- if user has liked the photo -->
                                        <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                        <!-- else -->
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
								</span>
                            <a href="#">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <!-- -->

                    <a href="#">
                        <p class="likes">152 likes</p>
                    </a>

                    <!-- tagged pets -->
                    <a href="pet profile">
                        <p class="message">
                            <b>Bucky</b>
                        </p>
                    </a>
                    <!--  -->

                    <a href="post details">
                        <h4 class="details">See details</h4>
                    </a>

                    <h5 class="postTime">18/09/2022</h5>

                    <!-- add comments section -->
                    <div class="addComments">

                        <form method="post" action="add comment">
                            <label for="id_body">Body:</label>
                            <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                      required="" id="id_body"></textarea>
                            <button type="submit">Post</button>
                        </form>
                    </div>
                    <!--  -->
                </div>
            </div>
            <!-- End Second Pet Photo Post -->

            <!-- Start Third Pet Photo Post -->
            <div class="card">
                <div class="top">
                    <!-- User Details and image location -->
                    <div class="userDetails">
                        <a href="profile details">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <a href="profile details">
                                <!-- if user has first name and last name -->
                                Steven Ivanov
                                <!-- else -->
                                <!-- user username -->
                            </a>
                            <br>
                            <!-- if the photo has location -->
                            <span>Dobrich, Bulgaria</span>
                        </h3>
                    </div>
                    <!--  -->
                </div>
                <!-- Post image -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="{% static 'images/dog-on-road.jpg' %}" alt="post" class="cover">
                </div>
                <!-- -->

                <div class="bottom">
                    <!-- like and share buttons -->
                    <div class="actionBtns">
                        <div class="left">
								<span class="heart">
									<a href="#">
                                        <!-- if user has liked the photo -->
                                        <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                        <!-- else -->
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
								</span>
                            <a href="share">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <!-- -->

                    <a href="#">
                        <p class="likes">176 likes</p>
                    </a>

                    <!-- tagged pets -->
                    <a href="pet profile">
                        <p class="message">
                            <b>Donny</b>
                        </p>
                    </a>
                    <!--  -->

                    <a href="post details">
                        <h4 class="details">See details</h4>
                    </a>

                    <h5 class="postTime">16/09/2022</h5>

                    <!-- add comments section -->
                    <div class="addComments">

                        <form method="post" action="add comment">
                            <label for="id_body">Body:</label>
                            <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                      required="" id="id_body"></textarea>
                            <button type="submit">Post</button>
                        </form>
                    </div>
                    <!--  -->
                </div>
            </div>
            <!-- End Third Pet Photo Post -->

            <!-- End Pet Photos Post Section -->

        </div>
    </div>
</main>
<!-- End Main Section -->

<!-- Start Footer Section -->
<div class="footer">
		<span class="footer-section">
			© 2024 SOFTUNI WORKSHOP FOR PYTHON WEB MODULE
		</span>
</div>
<!-- End Footer Section -->

</body>
</html>