<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petstagram</title>
</head>
<body style="display: flex;
			justify-content: center;">
<div style="display: flex;
			justify-content: center;
			border: 3px solid rgb(65, 63, 63);
			border-radius: 20px;
			margin: 2%;
			max-width: 620px;">
    <div>
		<table>
			<nav style="">
		<img style="width: 10rem;
			 margin-top: 10px;
			 margin-left: -4px;
			 height: 3.3rem;"
			 src="https://jdzejo.stripocdn.email/content/guids/3be6ad80-cf0f-461f-807a-b499c494e798/images/screenshot_1_roO.png"
			 alt="Logo">
	</nav>
		</table>

        <h1 style="			text-align: center;
                color: rgb(65, 63, 63);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            Hello, {{ user.username }} !</h1>

        <div style="display: flex;
                justify-content: center;">
            <img style="width: 70%;" id="cat-image"
                 src="https://jdzejo.stripocdn.email/content/guids/CABINET_b71dddfca1f6a4c91ed66e0fc480ad7f/images/ezgifcomgifmaker.gif"
                 alt="gif cat">
        </div>

        <p style="max-width: 620px;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Congratulations on creating your profile at Petstagram.
            Our pets are our best friends, and we love them so much that we want to share every moment with them with
            the
            world.
            Let's make the biggest pet community!
        </p>
        <p style="max-width: 620px;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Sincerely,
            <br>
            <img style="width: 30%;
            margin-top: 10px;
            margin-left: -4px;"
                 src="https://jdzejo.stripocdn.email/content/guids/3be6ad80-cf0f-461f-807a-b499c494e798/images/screenshot_1_roO.png"
                 alt="Logo">
        </p>
    </div>
</div>
</body>
</html>