{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <div class="container">
        <div class="col-9">
            {% include 'partials/pet_photo_list_item.html' with photo=pet_photo %}

            <p class="pet-details">{{ pet_photo.description }}</p>

            <h5 class="postTime">{{ pet_photo.created_at }}</h5>

            <div class="comments">
                {% for comment in pet_photo.photocomment_set.all %}
                    <div class="top">
                        <div class="userDetails">
                            <div class="comment-data">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="{% static 'images/person.png' %}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <a href="{% url 'details profile' pk=1 %}">Steven Ivanov</a>
                                    <!-- User Comment -->
                                    - {{ comment.text }}
                                </p>
                            </div>
                            <span>{{ comment.created_at }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- End Comments Section -->
        </div>

    </div>
    </div>
{% endblock %}