{% extends 'base/base.html' %}
{% block page_content %}
    <!-- Starts Edit Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit photo</h2>

        <!-- Starts Edit Photo Form -->
        <form method="post" action="{% url 'edit photo' pk=pk %}" enctype="multipart/form-data">
            {{ form.as_p }}
            <button class="edit-btn" type="submit">Edit Photo</button>
            {% csrf_token %}
        </form>
        <!-- End Edit Photo Form -->

    </div>
    <!-- End Edit Photo Section -->

{% endblock %}