{% extends 'base/base.html' %}

{% block page_content %}

    <!-- Starts Edit Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit photo</h2>

        <!-- Starts Edit Photo Form -->
        <form action="{% url 'photo edit' pk=photo.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Edit Photo Button -->
            <button class="edit-btn" type="submit">Edit Photo</button>
        </form>
        <!-- End Edit Photo Form -->

    </div>
    <!-- End Edit Photo Section -->

{% endblock %}