{% extends 'base.html' %}
{% block page_content %}
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <img src="{{ pet_photo.photo.url }}"
                 class="w-100 rounded mx-auto d-block" alt="{{ pet_photo.description }}"/>
        </div>
        <div class="d-inline p-2 w-50">
            {% for pet in pet_photo.tagged_pets.all %}
                <div class="d-flex justify-content-around">
                    <h5><u>Type:</u> {{ pet.type }}</h5>
                    <h5><u>Name:</u> {{ pet.name }}</h5>
                    {% if pet.date_of_birth %}
                        <h5><u>Age:</u> {{ pet.age }}</h5>
                    {% endif %}
                </div>
            {% endfor %}
            <p class="mt-2">{{ pet_photo.description }}</p>
            {% if not is_owner %}
                <a href="{% url 'like pet photo' pet_photo.id %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            {% endif %}
            <p class="mt-2">Likes: {{ pet_photo.likes }}</p>
            {% if is_owner %}
                <a href="{% url 'edit pet photo' pet_photo.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete pet' pet_photo.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}