{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block site_title %}Petstagram{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/clear.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
{% include 'partials/../partials/nav.html' %}
<div id="root">
    {% block site_content %}
        Petstagram
    {% endblock %}
</div>
</body>
</html>